body{
  background-color:lightgray;
}
.title{
  font-family: arial;
  padding-top: 25px;
}
h1{
   margin:0
}

.subtitle{
  padding: 25px 0 10px 0;
  font-family: arial;
  margin-bottom: 20px;
}

.email-input{
  font-family: arial;
  margin-bottom: 20px;
  margin: auto;
  width: 350px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 35%;
}

.send-btn{
  line-height:0.5;
  cursor: pointer;
  font-family: arial;
  padding: 20px;
  border: none;
  border-radius: 4px;
  background-color: blue;
  color: white;
}